streamlit
llama-index-embeddings-azure-openai==0.1.7
llama-index-llms-azure-openai==0.1.6
llama-index==0.10.30
llama-index-extractors-entity==0.1.2
pinecone-client
llama-index-vector-stores-pinecone==0.1.5
