transformers
requests
html-parser
regex
tiktoken
openai
htbuilder
unidecode
dateparser
llama_index.llms.azure_openai
llama_index.embeddings.azure_openai
pinecone-client
google-api-python-client
protoc-gen-openapiv2
protobuf==3.20.3
grpcio
llama_index
llama-index-vector-stores-postgres
llama_index.vector_stores.pinecone
